<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <title>
        How to apply two CSS classes
        to a single element ?   
    </title>
 
    <style>
        .para {
            font-size: larger;
            margin-bottom: 35px;
            background-color: lightgreen;
        }
 
        .second_para {
            font-size: larger;
            margin-bottom: 35px;
            color: red;
        }
    </style>
</head>
 
<body>
    <p class="para">
        One Style Is Added
    </p>
 
     
    <p class="para second_para">
        After Two Style Added
    </p>
 
</body>
 
</html>